#navbar{
  text-align: center;
  background-color: #5cb8ff;
  padding: 5px;
}

#busimg{
max-width: 50%;
height: auto;
}

#sphereimg{
  max-width: 30%;
  height: auto;
}

.twitter-timeline{
  align: left;
}
