#navbar{
  text-align: center;
  background-color: #5cb8ff;
  padding: 5px;
}

#busimg{
max-width: 50%;
height: auto;
}

#sphereimg{
  max-width: 30%;
  height: auto;
}

#twitter{
  background-color: #5cb8ff29;
  float: right;
  border-color: #5cb8ff29;
  border: 2px;
  margin-right: 5px;
}

.timeline-Widget{
  background-color: #5cb8ff29;
}
