#navbar{
  text-align: center;
  background-color: #5cb8ff;
  padding: 5px;
}

#busimg{
max-width: 50%;
height: auto;
}

#sphereimg{
  max-width: 30%;
  height: auto;
}

#twitter{
  background-color: #5cb8ff29;
  float: right;
  margin-right: 20px;
}

.cv{
  width : 100%;
  height : 100%;
}

iframe{
  display: block;
   width : 100%;
   height : 100%;
}

html{
  height: 100%;
}
body{
  min-height: 100%;
}
